<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.serverlogin.mapper.SloginMapper">
    <!--查询用户名是否存在-->
    <select id="queryUserName" parameterType="com.ds.serverlogin.pojo.LoginUser" resultType="java.lang.Integer">
        select count(*) from t_user where user_name = #{user_name}
    </select>
    <!--查询密码是否正确-->
    <select id="queryUser" parameterType="com.ds.serverlogin.pojo.LoginUser" resultType="java.lang.Integer">
        select count(*) from t_user where user_name = #{user_name} and password = #{password}
    </select>
    <!--查询所有用户-->
    <select id="queryUserAll" parameterType="com.ds.serverlogin.pojo.LoginUser" resultType="com.ds.serverlogin.pojo.LoginUser">
        select * from t_user
    </select>

</mapper>