<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.databackup.mapper.DataBackupMapper">
    <!-- 查询条件 -->
    <sql id="whereSql">
        <where>
            <if test="sb_name !=null and sb_name!=''">
                AND sb_name LIKE CONCAT('%',#{sb_name},'%')
            </if>
            <if test="sb_xh !=null and sb_xh!=''">
                AND sb_xh LIKE CONCAT('%',#{sb_xh},'%')
            </if>
            <if test="user_name !=null and user_name!=''">
                AND user_name LIKE CONCAT('%',#{user_name},'%')
            </if>
            <if test="sb_number !=null and sb_number!=''">
                AND sb_number LIKE CONCAT('%',#{sb_number},'%')
            </if>
            <if test="start_time !=null and start_time != ''">
                AND qr_time &gt;= #{start_time}
            </if>
            <if test="end_time !=null and  end_time != ''">
                AND qr_time &lt;= #{end_time}
            </if>
            <if test="top !=null and  top != ''">
                AND top = #{top}
            </if>
        </where>
    </sql>
    <!-- 条件或全部查询数据备份 -->
    <select id="findDataBackup" parameterType="com.ds.databackup.pojo.DataBackup" resultType="com.ds.databackup.pojo.DataBackup">
        select
            *
        from
          t_inspectionrecord
        <include refid="whereSql"></include>
        order by qr_time desc
        <if test="offset!=null and limit!=null">limit #{offset},#{limit}</if>
        <if test="offset==null and limit==null">limit 0,10</if>
    </select>

    <!-- 条件或全部查询数据备份 -->
    <select id="findDataBackupExcel" parameterType="com.ds.databackup.pojo.DataBackup" resultType="com.ds.util.ExcelDataBackup">
        select
            sb_name,
            sb_number,
            sb_xh,
            jcx_name,
            jc_yq,
            jc_jg,
            user_name,
            qr_time,
            bz_nr
        from
        t_inspectionrecord
        <include refid="whereSql"></include>
        order by qr_time desc
    </select>


    <!-- 条件或全部查询数据备份数量 -->
    <select id="getDataBackupCount" parameterType="com.ds.databackup.pojo.DataBackup" resultType="java.lang.Integer">
        select
           count(*)
        from
          t_inspectionrecord
        <include refid="whereSql"></include>
    </select>
    <!-- 添加巡检记录 -->
    <insert id="insertDataBackup" parameterType="com.ds.databackup.pojo.DataBackup">
        insert into
          t_inspectionrecord(sb_name,sb_number,sb_xh,jcx_name,jc_yq,jc_jg,user_name,qr_time,bz_nr,jcx_id,top)
        value(#{sb_name},#{sb_number},#{sb_xh},#{jcx_name},#{jc_yq},#{jc_jg},#{user_name},NOW(),#{bz_nr},#{jcx_id},#{top})
    </insert>
    <!-- 提取或取消数据 -->
    <update id="updateTop" parameterType="com.ds.databackup.pojo.DataBackup">
        update t_inspectionrecord set top = #{top} where xj_id = #{xj_id}
    </update>

    <select id="queryByUserequipment" resultType="com.ds.inspectionitem.pojo.UserEquipment">
        select * from t_userequipment where jcx_id = #{jcx_id} and user_id = #{user_id}
    </select>
</mapper>