<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.databackup.mapper.DataBackupMapper">
    <!-- 条件或全部查询数据备份 -->
    <select id="findDataBackup" parameterType="com.ds.databackup.pojo.DataBackup" resultType="com.ds.databackup.pojo.DataBackup">
        select
           i.xj_id,i.user_name,i.jcx_name,i.jc_jg,i.jc_time,i.jc_yq,i.qr_time,i.sb_name,
			i.sb_number,i.sb_xh,r.bz_nr
        from 
          t_inspectionrecord i,t_remarks r
        <where>
            <if test="sb_name !=null and sb_name!=''">
               AND i.sb_name = #{sb_name}
            </if>
            <if test="sb_xh !=null and sb_xh!=''">
               AND i.sb_xh = #{sb_xh}
            </if>
            <if test="sb_number !=null and sb_number!=''">
               AND i.sb_number = #{sb_number}
            </if>
            <if test="start_time !=null and start_time!=''">
               AND i.jc_time &gt;= #{start_time}
            </if>
            <if test="end_time !=null and end_time!=''">
               AND i.jc_time &lt;= #{end_time}
            </if>
            AND i.bz_id = r.bz_id
        </where>
    </select>
    <!-- 添加备注并返回添加主键 -->
    <insert id="insertRemarks" parameterType="" useGeneratedKeys="true" keyProperty="bz_id">
        insert into t_remarks(bz_nr) value(#{bz_nr})
    </insert>
    <!-- 添加巡检记录 -->
    <insert id="insertDataBackup" parameterType="com.ds.databackup.pojo.DataBackup">
        insert into
          t_inspectionrecord(sb_name,sb_number,sb_xh,jcx_name,jc_yq,jc_jg,user_name,jc_time,qr_time,bz_id)
        value(#{sb_name},#{sb_number},#{sb_xh},#{jcx_name},#{jc_yq},#{jc_jg},#{user_name},#{jc_time},#{qr_time},#{bz_id})
    </insert>
</mapper>