<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.user.mapper.UserMappper">
    <!-- 条件sql片段 -->
    <sql id="whereSql">
        <where>
            <if test="user_id != null and user_id != ''">
                AND user_id = #{user_id}
            </if>
            <if test="user_kh != null and user_kh != ''">
                AND user_kh = #{user_kh}
            </if>
            <if test="user_name != null and user_name != ''">
                AND user_name = #{user_name}
            </if>
        </where>
    </sql>
    <!-- 查询所有用户 -->
    <select id="findAllUser" parameterType="map" resultType="com.ds.user.pojo.User">
      select * from t_user
      <include refid="whereSql"></include>
      order by user_id desc
        <if test="offset!=null and limit!=null">limit #{offset},#{limit}</if>
    </select>
    <!-- 查询用户总条数 -->
    <select id="getUserCount" resultType="integer">
      select count(*) from t_user
        <include refid="whereSql"></include>
    </select>
    <!-- 条件查询用户是否存在 -->
    <select id="selectUserByWhere" resultType="com.ds.user.pojo.User" parameterType="com.ds.user.pojo.User">
      select * from t_user
        <include refid="whereSql"></include>
    </select>
    <!-- 添加用户 -->
    <insert id="insertUser" parameterType="com.ds.user.pojo.User" >
      insert into
        t_user(user_name,password,user_kh,is_management,create_time)
      value(#{user_name},#{password},#{user_kh},#{is_management},NOW())
    </insert>
    <!-- 根据id修改用户 -->
    <update id="updUser" parameterType="com.ds.user.pojo.User">
      update
        t_user
      set
        user_name = #{user_name},password = #{password},
        user_kh = #{user_kh},is_management = #{is_management}
      where
        user_id = #{user_id}
    </update>
    <!-- 删除用户 -->
    <delete id="delAllUser" parameterType="string" >
        delete from t_user where user_id in (#{ids})
    </delete>

    <select id="findDataTiQu" parameterType="com.ds.user.pojo.User" resultType="com.ds.util.DataTiQu">
        SELECT
            a.user_name,
            a.user_id,
            d.jcx_name,
            d.jcx_id,
            c.sb_name,
            c.sb_id,
            b.ju_id,
            b.top
            FROM
            t_user a,
            t_userequipment b,
            t_equipment c,
            t_inspectionitem d
        WHERE
            a.user_id = b.user_id
            AND b.jcx_id = d.jcx_id
            AND c.sb_id = d.sb_id
        <if test="offset!=null and limit!=null">limit #{offset},#{limit}</if>
    </select>

    <select id="getDataTiQu" parameterType="com.ds.user.pojo.User" resultType="integer">
        SELECT
            COUNT(*)
        FROM
            t_user a,
            t_userequipment b,
            t_equipment c,
            t_inspectionitem d,
            t_inspectionrecord e
        WHERE
            a.user_id = b.user_id
            and b.jcx_id = d.jcx_id
            and c.sb_id = d.sb_id
            and d.jcx_id = e.jcx_id
            AND b.qx = 1
    </select>

    <update id="updateT" parameterType="com.ds.databackup.pojo.DataBackupParam">
        update t_userequipment set top = #{type} where ju_id = #{id}
    </update>

    <update id="updateTs" parameterType="com.ds.databackup.pojo.DataBackupParam">
        update t_inspectionrecord set top = #{type} where jcx_id = #{jcx_id} and user_name = #{user_name}
    </update>

    <select id="findAll" resultType="com.ds.user.pojo.User">
        select * from t_user
    </select>


    <select id="findAllbyids" resultType="com.ds.user.pojo.User">
        select * from t_user where user_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
        #{id}
        </foreach>
    </select>

    <!--提取-->
    <update id="tiquUser" parameterType="string">
      UPDATE
        glzxj_user
      SET
        tq = 1
      WHERE
        id = #{ids}
    </update>

    <update id="huanyuanUser" parameterType="com.ds.glzxj.pojo.Glzxj">
      UPDATE
        glzxj_user
      SET
        tq = 2
      WHERE
         id = #{ids}
    </update>


    <select id="queryTopByUserName" parameterType="string" resultType="com.ds.user.pojo.User">
        select * from t_user where user_name = #{glz_name}
    </select>


    <select id="fuXieQuanXian" parameterType="string" resultType="com.ds.user.pojo.User">
        select * from t_user
        <where>
                user_id not in
                <foreach item="item" collection="array" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </where>
    </select>

    <select id="queryById" parameterType="string" resultType="com.ds.user.pojo.User">
        select * from t_user where user_id = #{userId}
    </select>

    <select id="queryYFQX" resultType="string">
        select user_id from glzxj_user
    </select>

    <insert id="insertUserGlzxjUser" parameterType="com.ds.user.pojo.User">
      insert into
        glzxj_user(user_id,tq)
      value(#{user_id},2)
    </insert>

    <select id="findAllUserGlzxj" parameterType="map" resultType="com.ds.user.pojo.User">
        select b.id AS user_id,a.user_name,b.tq AS top ,b.qx AS qx from t_user a,glzxj_user b
        where a.user_id = b.user_id
        order by user_id desc
        <if test="offset!=null and limit!=null">limit #{offset},#{limit}</if>
    </select>
    <select id="findAllUserGlzxjCount" resultType="integer">
        select count(*) from t_user
    </select>

    <delete id="delUserGlzxj" parameterType="string">
        delete from glzxj_user WHERE  id = #{id}
    </delete>

    <select id="queryByuserId" resultType="com.ds.user.pojo.User">
      select a.user_id,a.tq AS top from glzxj_user a where a.user_id = #{user_id}
    </select>

    <update id="updateFQuserGlzxj" parameterType="com.ds.user.pojo.User">
      UPDATE
        glzxj_user
      SET
        qx = #{glz_user}
      WHERE
        id = #{glz_id}
    </update>

    <select id="queryByids" parameterType="string" resultType="com.ds.user.pojo.User">
        select * from t_user
        <where>
            user_id  in
            <foreach item="item" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>


    <select id="getNotCurrentUserList" parameterType="com.ds.user.pojo.User" resultType="com.ds.user.pojo.User">
        select * from t_user where user_id != #{user_id}
    </select>

</mapper>