<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.glzxj.mapper.GlzxjMapper">
    <!--根据巡检人查询总条数-->
    <select id="getGlzxjCount" resultType="integer">
        select count(*) from t_glzxj
        <where>
            <if test="glz_name!=null and glz_name!=''">glz_name = #{glz_name}</if>
        </where>
    </select>
    <!--根据巡检人查询-->
    <select id="findAllGlzxj" resultType="com.ds.glzxj.pojo.Glzxj">
        select * from t_glzxj
        <where>
            <if test="glz_name!=null and glz_name!=''">glz_name = #{glz_name}</if>
        </where>
        order by glz_id desc
        <if test="offset!=null and limit!=null">limit #{offset},#{limit}</if>
    </select>

    <!--批量删除-->
    <delete id="delAllGlzxj">
        delete from t_glzxj where glz_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--添加管理者巡检-->
    <insert id="insertGlzxj" parameterType="com.ds.glzxj.pojo.Glzxj">
        INSERT INTO t_glzxj ( glz_name,glz_data,glz_count ,glz_tq)
        VALUE (#{glz_name},now(),#{glz_count},#{glz_tq})
    </insert>

    <!--还原-->
    <update id="huanyuanGLZ" parameterType="string">
      UPDATE
        t_glzxj
      SET
        glz_tq = 2
      WHERE
        glz_id = #{ids}
    </update>

    <!--提取-->
    <update id="tiquGLZ" parameterType="string">
      UPDATE
        t_glzxj
      SET
        glz_tq = 1
      WHERE
        glz_id = #{ids}
    </update>

    <update id="updateFQ" parameterType="com.ds.glzxj.pojo.Glzxj">
      UPDATE
        t_glzxj
      SET
        glz_user = #{glz_user}
      WHERE
        glz_id = #{glz_id}
    </update>

    <!--top 查询提取项-->
    <select id="getGlzxjTiCount" resultType="integer">
        select count(*) from t_glzxj where glz_tq = 1
    </select>
    <!--top 查询提取项-->
    <select id="findAllTiGlzxj" resultType="com.ds.glzxj.pojo.Glzxj">
        select * from t_glzxj where glz_tq = 1 order by glz_id desc
        <if test="offset!=null and limit!=null">limit #{offset},#{limit}</if>
    </select>

    <!--
        根据用户id 查询出用户名
        作为子查询
        修改管理者巡检中所有提取项（条件巡检人=子查询查出的巡检人）
     -->
    <update id="huanyuanGLZById" parameterType="string">
      UPDATE
        t_glzxj
      SET
        glz_tq = 2
      WHERE
        glz_name = (select user_name  from t_user where user_id = #{ids})
    </update>

    <!--
        查询赋予用户的权限
    -->
    <select id="queryQxByUserId" parameterType="com.ds.serverlogin.pojo.LoginUser" resultType="com.ds.user.pojo.User">
        select a.qx AS qx from  glzxj_user  a where user_id = #{user_id}
    </select>


    <!--
         个人查看：自己的数据 + 别人赋予自己的查看权限
     -->
    <select id="queryZjReadCount"  resultType="integer" >
        select count(DISTINCT s.glz_id) from (
            select * from t_glzxj where glz_name = #{user_name}
        union all
           select * from t_glzxj where glz_name in (
              select user_name from t_user where user_id in (
                select user_id from glzxj_user
                <where>
                    <choose>
                        <when test="user_id !=null and user_id !=''">
                             qx like CONCAT('%',#{user_id},'%')
                        </when>
                        <otherwise>
                            and 1=2
                        </otherwise>
                    </choose>
                </where>
              )
            )
        ) s
    </select>

    <!--
         个人查看：自己的数据 + 别人赋予自己的查看权限
     -->
    <select id="queryZjRead"  resultType="com.ds.glzxj.pojo.Glzxj">
        select s.glz_id,s.glz_name,s.glz_data,s.glz_count from (
            select * from t_glzxj where glz_name = #{user_name}
        union all
            select * from t_glzxj where glz_name in (
              select user_name from t_user where user_id in (
                    select user_id from glzxj_user
                    <where>
                        <choose>
                            <when test="user_id !=null and user_id !=''">
                                qx like CONCAT('%',#{user_id},'%')
                            </when>
                            <otherwise>
                                and 1=2
                            </otherwise>
                        </choose>
                    </where>
              )
            )
        ) s
        group by s.glz_id,s.glz_name,s.glz_data,s.glz_count
        order by s.glz_id desc
        <if test="offset!=null and limit!=null">limit #{offset},#{limit}</if>
    </select>
</mapper>