<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.equipment.mapper.EquipmentMapper">
    <!-- 用于检查项赋权的设备详情映射 -->
    <resultMap id="EquipmentInspectionitemMap" type="com.ds.equipment.pojo.EquipmentInspectionitem">
        <id column="sb_id" property="sb_id"/>
        <result column="sb_name" property="sb_name"/>
        <result column="sb_number" property="sb_number"/>
        <result column="sb_xh" property="sb_xh"/>
        <collection property="InspectionitemList" ofType="com.ds.inspectionitem.pojo.Inspectionitem">
            <id column="jcx_id" property="jcx_id"/>
            <result column="jcx_name" property="jcx_name"/>
            <result column="jcx_v" property="jcx_v"/>
        </collection>
    </resultMap>


    <!--条件查询总条数-->
    <select id="getEquipmentCount" resultType="java.lang.Integer">
        select count(*) from t_equipment
        where 1 = 1
        <include refid="where"></include>
    </select>

    <!--条件查询集合-->
    <select id="getEquipmentList" resultType="com.ds.equipment.pojo.Equipment" parameterType="com.ds.equipment.pojo.Equipment">
        select * from t_equipment
        where 1 = 1
        <include refid="where"></include>
        LIMIT #{startIndex},#{rows}
    </select>

    <!--批量删除设备-->
    <delete id="delEquipment" parameterType="com.ds.equipment.pojo.Equipment" >
        delete FROM  t_equipment  where sb_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--回显-->
    <select id="getEquipmentidById" parameterType="java.lang.Long" resultType="com.ds.equipment.pojo.Equipment">
        select *
        FROM
        t_equipment t
        where t.sb_id = #{sb_id}
    </select>

    <!--添加-->
    <insert id="addEquipment" parameterType="com.ds.equipment.pojo.Equipment" useGeneratedKeys="true" keyProperty="sb_id">
        insert into t_equipment(sb_name,sb_number,sb_xh)
        values(#{sb_name},#{sb_number},#{sb_xh})
    </insert>

    <!--修改-->
    <update id="updateEquipment" parameterType="com.ds.equipment.pojo.Equipment">
        update t_equipment set sb_name = #{sb_name},sb_number = #{sb_number},sb_xh = #{sb_xh} where sb_id = #{sb_id}
    </update>


    <!--条件查询-->
    <sql id="where">
        <if test="sb_name != '' and sb_name != null">
            and sb_name like CONCAT('%',#{sb_name},'%')
        </if>
        <if test="sb_number != ''and sb_number != null ">
            and sb_number like CONCAT('%',#{sb_number},'%')
        </if>
        <if test="sb_xh !='' and sb_xh != null ">
            and sb_xh like CONCAT('%',#{sb_xh},'%')
        </if>
    </sql>
    <!-- 查询设备详细信息  用于检查项赋权 -->
    <select id="selectEquipmentInspectionitemBySbId" parameterType="long" resultMap="EquipmentInspectionitemMap">
        SELECT
            *
        FROM
            t_equipment t,
            t_inspectionitem m
        WHERE
            t.sb_id = m.sb_id
        AND
            t.sb_id = #{sbId}
    </select>
    <!-- 根据用户id查询所有设备详细信息 -->
    <select id="findEquipmentInspectionitem" resultType="map" parameterType="long">
      SELECT
            *
        FROM
            t_equipment t,
            t_inspectionitem m,
            t_userequipment u
        WHERE
            t.sb_id = m.sb_id
        AND m.jcx_id = u.jcx_id
        AND u.qx = 1
    </select>

    <select id="findReadEquipmentInspectionitem" parameterType="long" resultType="map">
        SELECT
            *
        FROM
            t_equipment t,
            t_inspectionitem m,
            t_userequipment u
        WHERE
            t.sb_id = m.sb_id
        AND m.jcx_id = u.jcx_id
        AND u.user_id = #{userId}
    </select>


    <select id="showEquipmentReadCount" parameterType="com.ds.equipment.pojo.EquipmentRead" resultType="java.lang.Integer">
        SELECT count(*) FROM
         t_userequipment ue ,
         t_inspectionitem i,
         t_equipment e ,
         t_user u
         where ue.jcx_id = i.jcx_id and
          i.sb_id = e.sb_id and
          ue.user_id = u.user_id
    </select>
    <select id="showEquipmentReadList" parameterType="com.ds.equipment.pojo.EquipmentRead" resultType="map">
        SELECT ue.ju_id,i.jcx_id,e.sb_id,i.jcx_name,e.sb_name,e.sb_number ,u.user_name FROM
         t_userequipment ue ,
         t_inspectionitem i,
         t_equipment e ,
         t_user u
         where ue.jcx_id = i.jcx_id and
          i.sb_id = e.sb_id and
          ue.user_id = u.user_id LIMIT #{startIndex},#{rows}
    </select>
    <select id="findEquipmentReadRepeat" parameterType="com.ds.equipment.pojo.EquipmentRead" resultType="com.ds.equipment.pojo.EquipmentRead">
        SELECT
            t.sb_name,t.sb_number,m.jcx_name,us.user_name
        FROM
            t_equipment t,
            t_inspectionitem m,
            t_userequipment u,
            t_user us
        WHERE
            t.sb_id = m.sb_id
        AND m.jcx_id = u.jcx_id
        AND u.qx = 1
        AND u.user_id = us.user_id
        AND u.user_id = #{user_id}
        UNION
        SELECT re.sb_name,re.sb_number,i.jcx_name,re.user_name
        FROM t_readequipment re, t_inspectionrecord i
        WHERE re.jcx_id = i.jcx_id
        AND re.user_id = #{user_id}
    </select>
    <insert id="insertEquipmentRead" parameterType="com.ds.equipment.pojo.EquipmentRead">
        insert into t_readequipment(
        ju_id,jcx_id,sb_id,sb_name,sb_number,jcx_name,user_id,user_name
        )values(
        #{ju_id},#{jcx_id},#{sb_id},#{sb_name},#{sb_number},#{jcx_name},#{user_id},#{user_name}
        )
    </insert>
    <delete id="delEquipmentRead" parameterType="String">
        delete from t_readequipment where e_r_id = #{erid}
    </delete>
    <select id="showHaveEquipmentReadList" parameterType="com.ds.equipment.pojo.EquipmentRead" resultType="map">
        select * from t_readequipment where user_id = #{user_id}
    </select>
</mapper>