<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.fivesinspect.mapper.FiveSInspectMapper">
    <resultMap id="t_fivesinspect" type="com.ds.fivesinspect.pojo.FiveSInspect">
        <id property="f_id" column="f_id"/>
        <result property="f_fives" column="f_fives"/>
        <result property="f_clazzify" column="f_clazzify"/>
        <result property="f_content" column="f_content"/>
        <result property="f_inspectuser" column="f_inspectuser"/>
        <result property="f_inspectdate" column="f_inspectdate"/>
        <result property="f_ifmeet" column="f_ifmeet"/>
    </resultMap>
    <select id="findFiveSInspectCount" resultType="java.lang.Integer">
        SELECT count(*) FROM t_fivesinspect
        WHERE 1 = 1
        AND f_inspectuser IS NULL AND f_inspectdate IS NULL ORDER BY f_id DESC
    </select>
    <select id="findFiveSInspect" parameterType="com.ds.fivesinspect.pojo.FiveSInspect" resultMap="t_fivesinspect">
        SELECT * FROM t_fivesinspect
        WHERE 1 = 1
        AND f_inspectuser IS NULL AND f_inspectdate IS NULL ORDER BY f_id DESC LIMIT #{startIndex},#{rows}
    </select>
    <select id="findFiveSLogByUserName" parameterType="com.ds.fivesinspect.pojo.FiveSInspect" resultMap="t_fivesinspect">
        SELECT * FROM t_fivesinspect WHERE f_inspectuser LIKE #{f_inspectuser} order by f_id desc limit 1
    </select>
    <select id="findFiveSInspectById" parameterType="com.ds.fivesinspect.pojo.FiveSInspect" resultMap="t_fivesinspect">
        SELECT * FROM t_fivesinspect
        WHERE 1 = 1
        AND f_id = #{f_id} AND f_inspectuser IS NULL AND f_inspectdate IS NULL ORDER BY f_id DESC
    </select>
    <insert id="addFiveSInspect" parameterType="com.ds.fivesinspect.pojo.FiveSInspect">
        INSERT INTO t_fivesinspect (f_fives , f_clazzify , f_content) VALUES (#{f_fives},#{f_clazzify},#{f_content} )
    </insert>
    <delete id="delFiveSInspectAll" parameterType="com.ds.fivesinspect.pojo.FiveSInspect">
        delete FROM  t_fivesinspect  where f_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
          #{id}
        </foreach>
    </delete>
    <update id="upFiveSInspect" parameterType="com.ds.fivesinspect.pojo.FiveSInspect">
        UPDATE t_fivesinspect SET
        <if test="f_fives != null and f_fives != ''">f_fives = #{f_fives},</if>
        <if test="f_clazzify != null and f_clazzify != ''">f_clazzify = #{f_clazzify},</if>
        <if test="f_content != null and f_content != ''">f_content = #{f_content}</if>
        WHERE f_id = #{f_id}
    </update>
    <insert id="addUserFiveSInspect" parameterType="com.ds.fivesinspect.pojo.UserFiveSInspect">
        INSERT INTO t_userfivesinspect (f_id,user_id,ifextract,f_fives)VALUES (#{f_id},#{user_id},#{ifextract},#{f_fives})
    </insert>
    <select id="findUserFiveSInspect" parameterType="com.ds.fivesinspect.pojo.UserFiveSInspect" resultType="com.ds.fivesinspect.pojo.UserFiveSInspect">
        SELECT * FROM t_userfivesinspect
        WHERE 1 = 1
        <if test="user_id != 0 and user_id != null">AND user_id = #{user_id}</if>
        <if test="f_id != 0 and f_id != null">AND f_id = #{f_id}</if>
         ORDER BY f_id DESC
    </select>
    <update id="upIfextract" parameterType="com.ds.fivesinspect.pojo.UserFiveSInspect">
        UPDATE t_userfivesinspect SET
        <if test="ifextract != '' and ifextract != null">ifextract = #{ifextract}</if>
        where u_f_id = #{u_f_id}
    </update>
    <delete id="delUserFiveSInspect" parameterType="com.ds.fivesinspect.pojo.UserFiveSInspect">
        DELETE FROM t_userfivesinspect where u_f_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="findFiveSInspectLogCount" resultType="java.lang.Integer">
        SELECT count(*) FROM t_fivesinspect
        WHERE 1 = 1
        AND f_inspectuser IS NOT NULL AND f_inspectdate IS NOT NULL AND f_ifmeet IS NOT NULL ORDER BY f_id DESC
    </select>
    <select id="findFiveSInspectLog" parameterType="com.ds.fivesinspect.pojo.FiveSInspect" resultMap="t_fivesinspect">
        SELECT * FROM t_fivesinspect
        WHERE 1 = 1
        AND f_inspectuser IS NOT NULL AND f_inspectdate IS NOT NULL AND f_ifmeet IS NOT NULL ORDER BY f_id DESC LIMIT #{startIndex},#{rows}
    </select>
    <select id="showFiveSLogByUser" parameterType="java.lang.String" resultType="map">
        select tf.f_id,tf.f_fives,tf.f_clazzify,tf.f_content,tu.user_name,tuf.ifextract from
        t_userfivesinspect tuf
        left join t_fivesinspect tf on tf.f_id = tuf.f_id
        left join t_user tu on tuf.user_id = tu.user_id
        where tuf.user_id = #{userId}
    </select>
    <update id="addFiveSInspectLog" parameterType="com.ds.fivesinspect.pojo.FiveSInspect">
        INSERT INTO t_fivesinspect (
        f_fives,f_clazzify,f_content,f_userid,f_inspectdate,f_inspectuser,f_ifmeet
        )VALUES (
        #{f_fives},#{f_clazzify},#{f_content},#{f_userid},NOW(),#{f_inspectuser},#{f_ifmeet}
        )
    </update>
    <select id="showFiveSReadListCount" parameterType="com.ds.fivesinspect.pojo.FiveSInspect" resultType="java.lang.Integer">
        SELECT count(*) FROM
        t_userfivesinspect tuf ,
        t_fivesinspect tf,
        t_user tu
        WHERE
        tuf.f_id = tf.f_id AND
        tuf.f_fives = tf.f_fives AND
        tuf.user_id = tu.user_id AND
        tf.f_inspectuser IS NULL AND
        tf.f_inspectdate IS NULL ORDER BY tf.f_id DESC
    </select>
    <select id="showFiveSReadList" parameterType="com.ds.fivesinspect.pojo.FiveSInspect" resultType="map">
        SELECT tf.f_id,tf.f_fives,tf.f_clazzify,tf.f_content,tu.user_name,tuf.u_f_id,tuf.user_id FROM
        t_userfivesinspect tuf ,
        t_fivesinspect tf,
        t_user tu
        WHERE
        tuf.f_id = tf.f_id AND
        tuf.f_fives = tf.f_fives AND
        tuf.user_id = tu.user_id AND
        tf.f_inspectuser IS NULL AND
        tf.f_inspectdate IS NULL ORDER BY tf.f_id DESC LIMIT #{startIndex},#{rows}
    </select>
    <select id="findReadFive" resultType="com.ds.fivesinspect.pojo.ReadFives" parameterType="com.ds.fivesinspect.pojo.ReadFives">
        SELECT * FROM t_readfive
        WHERE 1 = 1
        <if test="user_name != '' and user_name != null">AND user_name = #{user_name}</if>
        <if test="user_id != 0 and user_id != null">AND user_id = #{user_id}</if>
        <if test="f_id != 0 and f_id != null">AND f_id = #{f_id}</if>
        ORDER BY f_id DESC
    </select>
    <insert id="insertReadFive" parameterType="com.ds.fivesinspect.pojo.ReadFives">
        INSERT INTO t_readfive (
        user_id,f_id,u_f_id,f_fives,user_name
        )VALUES (
        #{user_id},#{f_id},#{u_f_id},#{f_fives},#{user_name}
        )
    </insert>
    <select id="showHaveFiveSReadList" parameterType="java.lang.String" resultType="map">
        select tr.u_f_id,tr.f_id,tr.r_id,tf.f_fives,tr.user_name from t_readfive tr ,t_fivesinspect tf
        where tr.f_fives = tf.f_fives and
				tf.f_inspectdate is null and
				tf.f_inspectuser is null and
				tf.f_ifmeet is null
                and tr.user_id = #{userId}
    </select>
    <delete id="delFiveSRead" parameterType="com.ds.fivesinspect.pojo.ReadFives">
        delete from t_readfive where r_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="ckFivesReadListCount" parameterType="com.ds.fivesinspect.pojo.FiveSInspect" resultType="Integer">

            SELECT
                count( * )
            FROM
                (
            SELECT
                f.f_fives,
                f.f_clazzify,
                f.f_content,
                u.user_name,
                f.f_inspectdate
            FROM
                t_readfive rf,
                t_userfivesinspect uf,
                t_fivesinspect f,
                t_user u
            WHERE
                rf.u_f_id = uf.u_f_id
                AND uf.f_fives = f.f_fives
                AND uf.user_id = u.user_id
                AND f.f_inspectdate IS NOT NULL
                AND f.f_inspectuser IS NOT NULL
                AND f.f_ifmeet IS NOT NULL
                AND rf.user_id = #{f_userid}
        UNION
            SELECT
                f.f_fives,
                f.f_clazzify,
                f.f_content,
                u.user_name,
                f.f_inspectdate
            FROM
                t_userfivesinspect uf,
                t_fivesinspect f,
                t_user u
            WHERE
                uf.f_fives = f.f_fives
                AND uf.user_id = u.user_id
                AND f.f_inspectdate IS NOT NULL
                AND f.f_inspectuser IS NOT NULL
                AND f.f_ifmeet IS NOT NULL
                AND uf.user_id = #{f_userid}
                ) AS total
    </select>
    <select id="ckFivesReadList" parameterType="com.ds.fivesinspect.pojo.FiveSInspect" resultType="map">
         select
              f.f_fives,f.f_clazzify,f.f_content,u.user_name,f.f_inspectdate
         from
             t_readfive rf,
             t_userfivesinspect uf,
             t_fivesinspect f,
             t_user u where
             rf.u_f_id = uf.u_f_id and
             uf.f_fives = f.f_fives and
             uf.user_id = u.user_id and
             f.f_inspectdate is not null and
             f.f_inspectuser is not null and
             f.f_ifmeet is not null and
             rf.user_id = #{f_userid}
         union
             select
                  f.f_fives,f.f_clazzify,f.f_content,u.user_name,f.f_inspectdate
             from
                  t_userfivesinspect uf ,t_fivesinspect f, t_user u
             where
                 uf.f_fives = f.f_fives and
                 uf.user_id = u.user_id
                 AND f.f_inspectdate IS NOT NULL
                 AND f.f_inspectuser IS NOT NULL
                 AND f.f_ifmeet IS NOT NULL
                 AND uf.user_id = #{f_userid} LIMIT #{startIndex},#{rows}
    </select>
    <select id="findFiveSInspectLogqtCount" resultType="java.lang.Integer">
        select count(*) from
         t_fivesinspect f,
         t_userfivesinspect uf
         where f.f_fives = uf.f_fives and
          f_userid is not null and
          f_inspectuser is not null and
          f_inspectdate is not null and
          f_ifmeet is not null and
          uf.ifextract = 1
    </select>
    <select id="findFiveSInspectLogqt" parameterType="com.ds.fivesinspect.pojo.FiveSInspect" resultMap="t_fivesinspect">
         select f.f_fives,f.f_clazzify,f.f_content,f.f_inspectdate,f.f_inspectuser,f.f_ifmeet from
         t_fivesinspect f,
         t_userfivesinspect uf
         where f.f_fives = uf.f_fives and
          f_userid is not null and
          f_inspectuser is not null and
          f_inspectdate is not null and
          f_ifmeet is not null and
          uf.ifextract = 1 ORDER BY f.f_inspectdate DESC LIMIT #{startIndex},#{rows}
    </select>
</mapper>