<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.inspectionitem.mapper.InspectionitemMapper">
    <!-- 根据设备id查询检查项集合 -->
    <select id="findAllInspectionitemBySbId" parameterType="long" resultType="com.ds.inspectionitem.pojo.Inspectionitem">
        select * from t_inspectionitem where sb_id = #{sb_id}
    </select>
    <!-- 新增赋权数据 -->
    <insert id="insertUserEquipment" parameterType="com.ds.inspectionitem.pojo.UserEquipment">
        insert into t_userequipment(jcx_id,user_id,qx) value(#{jcx_id},#{user_id},#{qx})
    </insert>
    <!-- 根据条件查询某用户具有某个权限 -->
    <select id="selectUserequipment" parameterType="com.ds.inspectionitem.pojo.UserEquipment" resultType="com.ds.inspectionitem.pojo.UserEquipment">
      select * from t_inspectionitem
      <where>
          <if test="jcx_id != null and jcx_id != 0">
              AND jcx_id =#{jcx_id}
          </if>
          <if test="user_id != null and user_id != 0">
              AND user_id =#{user_id}
          </if>
          <if test="qx != null and qx != 0">
              AND qx =#{qx}
          </if>
      </where>
    </select>
    <!-- 根据id修改用户检查项关联权限 -->
    <update id="updUserEquipment" parameterType="com.ds.inspectionitem.pojo.UserEquipment">
        update t_inspectionitem set jcx_id = #{jcx_id},user_id = #{user_id},qx = #{qx} where ju_id = #{ju_id}
    </update>
</mapper>